@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Alata, sans-serif; 

}

h1 {
  text-align: center; 
  margin-top: 25px; 
  margin-bottom: 15px; 
  font-size: 40px; 
  letter-spacing: 3px; 
  text-transform: uppercase;
}

/* Loader */
.loader {
  position: fixed; /* will not move even if the user scrolls*/
  top: 0;
  bottom: 0; 
  left: 0; 
  right: 0; /* using t,b,l,r with 0 makes it extend over the entire page*/
  background: rgba(255, 255, 255, 0.6);
}

.loader img {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* this centers the image based on the actual centre of the image. Without this transform it would be cetered based on the top-left of the image */
}

/* Image Container */
.image-container {
  margin: 10px 20%; /* image will take up 60% width of the screen*/
}

.image-container img {
  width: 100%;
  margin-top: 5px; 
}

/* Media Query: Large Smartphone */

@media screen and (max-width: 600px) {
  .image-container {
    margin: 10px; 
  }

  h1 {
    font-size: 20px; 
  }

}